<!DOCTYPE html>
<html>
  <head>
    <title>Webshop2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

     <%= render "shared/navbar" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div>
  <footer class="footer">
    <hr>
      <div class="container">
        <span class="text-muted">Not-an-Amazon™</span>
      </div>
    </footer>
</body>

</html>
